<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TextUICollectViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2AA9A4E71C48D718008D8CEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AA9A5001C48D718008D8CEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AA9A50B1C48D718008D8CEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
